
\.DS_Store

OCAMicro/OCAMicro/\.vs/

*.user

OCAMicro/OCAMicro/Obj

OCACompliancyTestTool/\.vs/

OCACompliancyTestTool/Out/

OCACompliancyTestTool/Installer/\.vs/

OCACompliancyTestTool/Aes70CompliancyTestTool/\.vs/
