<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Manufacturer="OCA Alliance"
            Name="Aes70 Compliancy Test Tool Console 64-bit V$(var.ProductVersion)"
            UpgradeCode="{DC5CC295-E75E-4FE3-87D3-BFBE2911B36B}"
            Version="$(var.ProductVersion)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                                    LocalizationFile="Aes70 Compliancy Test Tool Console Bundle64.wxl"
                                                    SuppressOptionsUI="yes"
                                                    ThemeFile="Aes70 Compliancy Test Tool Console Bundle64.xml" />
        </BootstrapperApplicationRef>
        <Chain>
            <!-- Application -->
            <MsiPackage DisplayInternalUI="yes"
                        Id="CompliancyTool"
                        InstallCondition="VersionNT64"
                        SourceFile="..\..\Out\Installer\Aes70 Compliancy Test Tool Console Installer64\en-us\SetupAes70CompliancyTestToolConsole64.msi"
                        Visible="no" />
        </Chain>
        <bal:Condition Message="You are attempting to run the 64-bit installer on a 32-bit version of Windows."><![CDATA[VersionNT64]]></bal:Condition>
    </Bundle>
</Wix>
